<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    {% load bootstrap5 %}    
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secretaria Municipal de Obras</title>
    <!-- BOOTSTRAP -->
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!-- END BOOTSTRAP -->
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" integrity="sha512-BnbUDfEUfV0Slx6TunuB042k9tuKe3xrD6q4mg5Ed72LTgzDIcLPxg6yI2gcMFRyomt+yJJxE+zJwNmxki6/RA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- END FONTAWESOME -->
    <link rel="stylesheet" href="{% static 'css/template.css' %}">
</head>
<body class="container-fluid">
    {% include 'header.html' %}
    {% include 'navbar.html' %}
    <main class="border">
        <div class="row">
            <div class="col">
                {% block main %}{% endblock %}
            </div>
        </div>
    </main>
</body>
</html>