<header class="row border">
    <div class="col d-flex">
        <div id="logo" class="me-auto">
            <img src="/static/images/logo.jpg" alt="">
        </div>
        <div id="menu_icon" class="ms-auto d-flex">
            {% if request.user.is_authenticated %}
            <a class="btn my-auto" href="/logout"><i class="fas fa-sign-out me-2"></i>Logout</a>
            {% else %}
            <a class="btn my-auto" href="/login/?next={{ request.path|urlencode }}"><i class="fas fa-user me-2"></i>Login</a>
            {% endif %}
        </div>
    </div>
</header>

<style>
    header{
        background-color: white;
    }
</style>