{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% load widget_tweaks %} 
{% block main %}
{% if success %}
<div class="row px-4 py-2">
    <div class="col bg-success d-flex">
        <p class="text-white m-auto fw-bolder py-1">Nova obra registrada com sucesso!</p>
    </div>
</div>
{%endif%}
<div class="row">    
    <div class="col container p-5">
        <div class="row">
            <div class="col d-flex">
                <h1 class="text-uppercase">Cadastrar obra</h1>            
                <span class="ms-auto">
                    <a class="btn btn-primary" href="{% url 'obra:visualizar' 'buscar' %}">
                        Listar Obras
                    </a>
                </span>
            </div>
        </div>
        <form method="post" class="form col-5">            
            {% csrf_token %}
            <br>
            <div id="contrato">                
                <label for="">Empresa contratada:</label>
                <input name="empresa" id="search_empresa" onkeyup="searchEmpresa(this)" type="text" class="form-control" autocomplete="off">                
                <span id="searchResult"></span> 
                {% if error %}
                <br>{{error}}
                {% endif %}
            </div>           
            <div id="nota_fiscal" class="mt-4">
                {% for f_nota in form_nota %}
                {% if f_nota.label == 'Data de expedição' %}
                <label for="">{{f_nota.label}}:</label>
                {{f_nota|add_class:'form-control mb-3'|attr:'type:date'}}  
                {% else %}
                <label for="">{{f_nota.label}}:</label>
                {{f_nota|add_class:'form-control mb-3'|attr:'type:text'|attr:'autocomplete:off'}}            
                {% endif %}
                {% endfor %}                                
            </div>
            <div id="obra" class="mt-4">
                {% for f_obra in form_obra %}
                {% if f_obra.name != 'cadastrado_por' %}
                <label for="">{{f_obra.label}}:</label>
                {% endif %}
                {{f_obra|add_class:'form-control mb-3'|attr:'autocomplete:off'}}            
                {% endfor %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">REGISTRAR</button>
                {% endbuttons %}
            </div>
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script>
    function searchEmpresa(e){        
        if (3<=String(e.value).length){            
            getEmpresa(e.value)
        }        
    }    
    function getEmpresa(value){
        var url = '/get_empresa/';  // get the url of the `load_cities` view        
        $.ajax({ 
            url: url,
            data: {
                'nome': value,
            },
            success: function(data) {                               
                $("#searchResult").html(data);
            }
        });                
    };
    function selectThis(e){
        document.getElementById('search_empresa').value=e.value
        document.getElementById('searchResult').innerHTML=''
    }
    function maskValor(input){    
        $(input).mask('#.##0.000,00', {reverse: true});
    }
    
    // document.getElementById('nota_fiscal').style.display='none';
    // document.getElementById('obra').style.display='none';
    // function exibirFormNota(){
    //     document.getElementById('nota_fiscal').style.display='block';
    // }
    // function exibirFormObra(){
    //     document.getElementById('obra').style.display='block';
    // }
</script>
{% endblock %}