{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% load widget_tweaks %} 
{% block main %}
{% if success %}
<div class="row px-4 py-2">
    <div class="col bg-success d-flex">
        <p class="text-white m-auto fw-bolder py-1">Nova obra registrada com sucesso!</p>
    </div>
</div>
{%endif%}
<div class="row">    
    <div class="col container p-5">
        <div class="row">
            <div class="col d-flex">
                <h1 class="text-uppercase">Cadastrar obra</h1>            
                <span class="ms-auto">
                    <a class="btn btn-primary" href="{% url 'obra:visualizar' 'buscar' %}">
                        <i class="fas fa-list-ol me-2"></i>
                        Listar Obras
                    </a>
                </span>
            </div>
        </div>
        <form method="post" class="form col-5">            
            {% csrf_token %}
            <br>
            <h4 class="text-uppercase">Dados do contrato</h4>
            <div id="contrato" class="pb-3">                
                <label for="">Empresa contratada:</label>
                <input name="empresa" id="search_empresa" onkeyup="searchEmpresa(this)" type="text" class="form-control" autocomplete="off">                
                <span id="searchResult"></span> 
                {% if error %}
                <br>{{error}}
                {% endif %}
            </div>           
            <div class="nota_fiscal" class="mt-4">
                <div class="pb-2">
                    <div>Notas de empenho:</div>
                    <div id="notas" class="d-flex flex-column pt-2">
                        <table class="table table-stripet">
                            <thead>
                                <tr>
                                    <th>N. empenho</th>
                                    <th>Valor</th>
                                    <th>Periodo</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="inserirEmpenhos">

                            </tbody>
                        </table>
                    </div>
                </div>
                <div hidden>
                    <input type="text" name="empenhos" id="id_empenhos">
                </div>
                <button type="button" class="btn btn-secondary w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    + Adicionar nota de empenho
                </button>                
            </div>
            <h4 class="text-uppercase mt-5">Dados da obra</h4>
            <div id="obra" class="mt-2">
                {% for f_obra in form_obra %}
                    {% if f_obra.label == 'Data prevista de conclusão' %}
                        <label for="">{{f_obra.label}}:</label>
                        {{f_obra|add_class:'form-control mb-3'|attr:'type:date'}}
                    {% elif f_obra.name != 'cadastrado_por' %}
                        <label for="">{{f_obra.label}}:</label>
                        {{f_obra|add_class:'form-control mb-3'|attr:'autocomplete:off'}}            
                    {% endif %}
                    
                {% endfor %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">REGISTRAR</button>
                {% endbuttons %}
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-uppercase" id="exampleModalLabel">Nova nota de empenho</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {% for f_nota in form_nota %}
            {% if f_nota.label == 'Data de expedição do empenho' %}
                <label for="">{{f_nota.label}}:</label>
                {{f_nota|add_class:'form-control mb-3'|attr:'type:date'}}  
            {% elif f_nota.label == 'Tipo de empenho' %}

            {% elif f_nota.label == 'Substituindo' %}
            {% else %}

                <label for="">{{f_nota.label}}:</label>
                {{f_nota|add_class:'form-control mb-3'|attr:'type:text'|attr:'autocomplete:off'}}            
            {% endif %}
            {% endfor %}                                
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button onclick="add_empenho()" type="button" class="btn btn-primary">Adicionar</button>
        </div>
      </div>
    </div>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script>
    var myModal = new bootstrap.Modal(document.getElementById('exampleModal'), {
        keyboard: false
    })
    function searchEmpresa(e){        
        if (3<=String(e.value).length){            
            getEmpresa(e.value)
        }        
    }    
    function getEmpresa(value){
        var url = '/get_empresa/';  // get the url of the `load_cities` view        
        $.ajax({ 
            url: url,
            data: {
                'nome': value,
            },
            success: function(data) {                               
                $("#searchResult").html(data);
            }
        });                
    };
    function remove_empenho(e){
            empenhos=document.getElementById('id_empenhos').value;
            lista_empenhos=empenhos.split(';')            
            lista_empenhos.pop()
            document.getElementById('id_empenhos').value=''
            lista_empenhos.forEach(element => {
                if(element!=e.id){
                    document.getElementById('id_empenhos').value+=element+';'
                }                
            });
            document.getElementById('l'+e.id).style.display='none'
            
    }

    function add_empenho(){
            n_nota=document.getElementById('id_n_nota').value
            data=document.getElementById('id_data').value
            valor=document.getElementById('id_valor').value
            url=document.getElementById('id_url').value

            $.ajax({ 
                            type: "POST",
                            // url: 'http://localhost:8000/api/empenhos/',        
                            url: '/api/empenhos/',        
                            beforeSend: function (xhr, settings) {
                                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                                xhr.setRequestHeader('Content-Type', 'application/json');
                            },
                            dataType: "json",
                            data: JSON.stringify({  
                                'tipo_empenho':'in',
                                'n_nota': n_nota,
                                'data': data,
                                'valor': valor,                                
                                'url': url
                            }),
                            success: (data) => {                               
                                console.log(data)
                            },
                            error: (error) => {
                                if (error.state=200){
                                        document.getElementById('inserirEmpenhos').innerHTML+=error.responseText
                                        document.getElementById('id_empenhos').value+=n_nota+';'
                                        console.log(document.getElementById('id_empenhos').value)
                                        myModal.hide()
                                        attValor()
                                }else{
                                    console.log(error.status);    
                                    console.log(error.statusText);    
                                }
                                
                            }
                    });
 
        }        
    function selectThis(e){
        document.getElementById('search_empresa').value=e.value
        document.getElementById('searchResult').innerHTML=''
    }
    function maskValor(input){    
        $(input).mask('#.##0.000,00', {reverse: true});
    }
    function attValor(){
        $(document).ready(function(){
            valores=document.getElementsByClassName('valor')                
            for(i in valores){        
            $('#'+String(valores[i].id)).mask('#.##0.000,00', {reverse: true});
        }
    });
}
    // document.getElementById('nota_fiscal').style.display='none';
    // document.getElementById('obra').style.display='none';
    // function exibirFormNota(){
    //     document.getElementById('nota_fiscal').style.display='block';
    // }
    // function exibirFormObra(){
    //     document.getElementById('obra').style.display='block';
    // }
</script>
{% endblock %}