{% if alert %}
<div class="row my-2">
    <div class="col bg-danger d-flex p-3">
        <span class="text-white my-auto">Nenhuma obra encontrada com esse filtro.</span>
    </div>
</div>
{% endif %}
<table class="table table-light table-striped table-hover text-center">
    <thead>
        <tr>
            <th></th>
            <th scope="col">id</th>
            <th scope="col">Empresa</th>                          
            <th>Objeto da Obra</th>
            <th>Valor Previsto</th>
            <th>Fiscal Responsável</th> 
            <th>Status</th>         
            <th></th>
        </tr>
      </thead>
      <tbody>
        {% for contrato in obras %}
        <tr>                            
            <td>
                <a href="{% url 'obra:visualizar_obra' contrato.id %}" data-toggle="tooltip" data-placement="top" title="Ver detalhes">
                    <i class="fas fa-eye"></i>
                </a>
            </td>
            <th  scope="row">{{ contrato.id }}</th>                            
            <td>{{contrato.empresa.nome}}</td>                            
            <td>{{contrato.obra.objeto_da_obra}}</td>                            
            <td>R$ <span class="valor" id="valor-{{contrato.id}}">{{contrato.obra.valor_previsto}}</span></td>
            <td>{{contrato.obra.fiscal}}</td>            
            <td>{{contrato.obra.status}}</td>  
            <td>
                <a href="{% url 'obra:gerar_qrcode' contrato.id %}" data-toggle="tooltip" data-placement="top" title="Gerar QR Code">
                    <i class="fas fa-qrcode"></i> 
                </a>
            </td>
        </tr>    
        {% endfor %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>        
      </tbody>
</table>