{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% load widget_tweaks %} 
{% block main %}
{% if success %}
<div class="row px-4 py-2">
    <div class="col bg-success d-flex">
        <p class="text-white m-auto fw-bolder py-1">{{success}}</p>
    </div>
</div>
{%endif%}
<div class="row">    
    <div class="col container p-5">
        <div class="d-flex">
            <h1 class="text-uppercase">Historico de Registro de Empresas</h1>            
            <span class="ms-auto"><a class="btn btn-primary" href="{% url 'obra:cadastrar_empresa' %}">Cadastrar Empresa</a></span>
        </div>
        <div class="d-flex pt-4">
            <div class="col-12 mx-auto">
                <h3>Ações:</h3>                
                {{log.acao}}<br>                 
                {% for i in acoes%}
                   <p>
                    <b class="text-uppercase">{{i}}</b> foi alterado de  <b>{{i.antes}}</b> para <b>{{i.depois}}</b>
                   </p>
                {% endfor %}
                <!-- <table class="table table-light table-striped table-hover text-center">                    
                      <tbody>
                        {% for log in logs %}
                        <tr>                          
                          <td>{{log.get_tipo_display}}</td>                          
                          <td><a href="{% url 'obra:visualizar_empresa' log.ref %}">{{log.ref}}</a></td>                          
                          <td>{{log.user}}</td>
                          <td>{{log.dt_inclusao}}</td>
                          <td>{{log.ipv4}}</td>
                          <td class="acao">                              
                                {% if log.tipo == 'c' %}
                                <i class="fas fa-eye-slash"></i>
                                {% else %}
                                <a href="#">                                    
                                    <i class="fas fa-eye"></i>
                                </a>                                    
                                {% endif %}                                
                            </td>
                        </tr>           
                        {% endfor %}         
                      </tbody>
                  </table> -->
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    function icnpj(v){
        v=v.replace(/\D/g,"")                    //Remove tudo o que nao e digito
        v=v.replace(/(\d{2})(\d)/,"$1.$2")       //Coloca um ponto entre o segundo e terceiro digitos
        v=v.replace(/(\d{3})(\d)/,"$1.$2")       //Coloca um ponto entre o quinto e o sexto digitos
        v=v.replace(/(\d{3})(\d)/,"$1/$2")       //Coloca um ponto entre o quinto e o sexto digitos
        v=v.replace(/(\d{4})(\d)/,"$1-$2")       //Coloca um ponto entre o quinto e o sexto digitos
        // v=v.replace(/^(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})/, "$1.$2.$3/$4-$5")
        return v
    }
    $(document).ready(function(){
        valores=document.getElementsByClassName('cnpj')                
        for(i in valores){
            valores[i].innerText=icnpj(valores[i].innerText)
        }
    });    
</script>
<style>
    tbody td:hover{
        cursor: po;
    }
    a{
        text-decoration: none;
    }
</style>

{% endblock %}