{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% load widget_tweaks %}  
{% block main %}

<div class="row">    
    <div class="col container p-5">
        <div class="row">
            <div class="col">
                <h1>DADOS DA OBRA</h1>
            </div>
            <div class="col d-flex" style="position: relative;">    
                <a class="btn btn-primary my-auto ms-auto" href="{% url 'obra:visualizar_obra' obra.id %}">
                    Voltar
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col pt-4" id="searchResult">   
                <div class="p-3">
                    <div class="mb-2" style="background-color: #d6e7f8;">
                        <div class="py-3 px-3">                        
                            <div class="d-flex ps-4">
                                <span class="my-auto"><b>id: </b>{{obra.id}}</span>
                                <span class="ms-auto">
                                    <button class="btn btn-outline-danger me-2">Arquivar todas as fotos</button>
                                    <!-- <button class="btn btn-success">Notas</button> -->
                                </span>
                            </div>
                        </div>
                    </div>                
                    <div class="row">
                        <div class="col">
                            <table class="table table-light table-striped mt-0">                                   
                                <tbody>    
                                    {% for foto in fotos %}                    
                                    <tr>                   
                                        <td class="px-3 py-3 d-flex flex-column">
                                           <img class="mx-auto" height="300px" src="/static/fotos/{{obra.id}}/{{foto.url}}" alt="">
                                           <a href="{% url 'obra:visualizar_foto_obra' id=obra.id url=foto.url %}" class="btn btn-info w-100 mt-2">
                                               <b class="text-white">Ver/Editar foto</b>
                                           </a>
                                        </td>                                                 
                                    </tr>                                         
                                   {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col d-flex">
                            <div class="mx-auto py-5">
                                <form method="POST" enctype="multipart/form-data">
                                    <h2>ENVIAR FOTO</h2>
                                    {% csrf_token %}
                                    <input class="mt-3" type="file"  name="file" accept="image/png, image/jpeg, image/jpg">                                
                                    <button type="submit" class="btn btn-outline-dark ms-3 mb-4 px-4">Enviar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    </div>
</div>
<style>
.form-control:disabled, .form-control[readonly]{               
font-weight: bold;
}
label{
font-weight: bold;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
function search(input){    
getObra(input.value)
}

function getObra(value){
var url = '/get-obras/';  // get the url of the `load_cities` view        
$.ajax({ 
    url: url,
    data: {
        'nome': value,
    },
    success: function(data) {                               
        $("#searchResult").html(data);
    }
});                
};
</script>
{% endblock %}
