{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% load widget_tweaks %}  
{% block main %}
<div class="row">    
    <div class="col container p-5">
        <div class="row">
            <div class="col">
                <h2>DADOS DA EXECUÇÃO DA OBRA</h2>
            </div>
            
            <div class="col d-flex" style="position: relative;"> 
                <a href="{% url 'obra:visualizar_notas_arquivadas' obra.id %}" type="button" class="btn btn-secondary my-auto ms-auto">
                    <i class="fas fa-archive me-2"></i>
                    Arquivo
                </a>
                {% if request.user.is_authenticated %}
                <a href="{% url 'obra:cadastrar_empenho' obra.id %}" type="button" class="btn btn-primary my-auto ms-2">
                    <i class="fas fa-plus-circle me-2"></i>
                    Novo Empenho
                </a>
                <a href="#" type="button" class="btn btn-danger my-auto ms-2">
                    <i class="fas fa-calendar-plus me-2"></i>
                    Aditivar
                </a>
                {% endif %}
                <a class="btn btn-primary my-auto ms-2" href="{% url 'obra:visualizar_obra' obra.id %}">
                    <i class="far fa-arrow-alt-circle-left me-2"></i>
                    Voltar
                </a>
             
            </div>
            
        </div>
        <div class="row">
            <div class="col pt-4">
                <b class="mx-3">Progresso da obra:</b>
                <div class="progress mx-3">                                
                    <div class="progress-bar {% if progresso == 100 %}bg-success{% endif %}" role="progressbar" style="width: {{progresso}}%;" aria-valuenow="{{progresso}}" aria-valuemin="0" aria-valuemax="100">{{progresso}}%</div>
                  </div>
                  <small class="mx-3">
                      <span class="me-4">Valor previsto: R$<span class="valor" id="previsto">{{previsto}}</span></span>
                      <span>Total abatido: R$<span class="valor" id="abatido">{{soma_notas}}</span></span>
                  </small>
            </div>
        </div> 
        <div class="row">
            <div class="col" id="searchResult">                   
                <div class="p-3">
                    <div class="mb-2" style="background-color: #d6e7f8;">
                        <div class="py-3 px-3">                        
                            <div class="d-flex ps-4">
                                <span class="my-auto"><b>id: </b>{{obra.id}}</span>
                                <span class="ms-auto">
                                    {% if request.user.is_authenticated %}
                                    <button class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">
                                        <i class="fas fa-plus-circle me-2"></i>
                                        Nova Medição
                                    </button>
                                    {% endif %}
                                    <button onclick="exibirNotas('all', '{{obra.id}}')" class="btn btn-outline-primary me-2">
                                        <i class="far fa-eye me-2"></i>
                                        Todas Medições
                                    </button>
                                    
                                </span>
                            </div>
                        </div>
                    </div>      
                                                 
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col pt-2">
                                    <h5>NOTAS DE EMPENHOS EM EXERCÍCIO: </h5>
                                </div>
                            </div>
                            <table class="table table-light table-striped mt-0 mb-1">                                   
                                <tbody>    
                                    {% for nota in notas %}                    
                                    <tr class="pb-3">                   
                                        <td class="px-0 py-0 d-flex flex-column" colspan="2">
                                            <div class="row px-3">
                                                <div class="col d-flex px-3">                                                    
                                                    <span class="d-flex mt-3">
                                                        <b>N. EMPENHO:</b> 
                                                        <span class="ms-2">{{nota.n_nota}}</span>
                                                        {% if request.user.is_authenticated %}
                                                        <a href="{% url 'obra:editar_empenho' obra.id nota.id %}" class="btn p-0 ms-3 text-primary d-flex" style="margin-top: -3px;" data-toggle="tooltip" data-placement="top" title="Editar">                                                        
                                                            <span>
                                                                <i class="fas fa-edit"></i>
                                                            </span>
                                                            <span class="my-auto ms-1 pt-1"></span>  
                                                        </a>
                                                        {% endif %}
                                                        {% if nota.tipo_empenho == 'st' %}
                                                        <span class="btn p-0 ms-3 text-warning d-flex" style="margin-top: -3px;" data-toggle="tooltip" data-placement="top" title="{{nota.get_tipo_empenho_display}} - id {{nota.substituindo}}">                                                            
                                                            <span>
                                                                <i class="fas fa-exclamation"></i>
                                                            </span>
                                                        </span>
                                                        {% elif nota.tipo_empenho == 'co' %}
                                                        <span class="btn p-0 ms-3 text-success d-flex" style="margin-top: -3px;" data-toggle="tooltip" data-placement="top" title="{{nota.get_tipo_empenho_display}}">
                                                            <span>
                                                                <i class="fas fa-exclamation"></i>
                                                            </span>
                                                        </span>
                                                        {% endif %}
                                                    </span>
                                                    <span class="ms-auto mt-3"><b>id:</b> {{nota.id}}</span>
                                                </div>
                                            </div>                                            
                                            <table class="my-4 mx-3">
                                                <thead>                                                    
                                                    <th>Data de Expedição:</th>
                                                    <th>Valor:</th>
                                                    <th>Período:</th>                                                    
                                                </thead>
                                                <tbody>                                                    
                                                    <td>{{nota.data}}</td>
                                                    <td>R$ <span class="valor" id="valor-{{nota.id}}">{{nota.valor}}</span></td>
                                                    <td>{{nota.data|date:'Y'}}</td>                                                    
                                                </tbody>
                                            </table>                                                                                              
                                            <div class="row">
                                                <div class="col px-4 pb-2 d-flex">
                                                    <span><b>Data de inclusão:</b> {{nota.dt_inclusao}}</span>
                                                    <span class="btn text-success p-0 ms-auto d-flex pt-2" data-toggle="tooltip" data-placement="top" title="Empenho abatido">
                                                        {% if nota.abatido %}
                                                        <i class="fas fa-check-circle"></i>
                                                        {% endif %}
                                                    </span>
                                                    <a onclick="exibirNotas(false, '{{nota.id}}')" class="btn text-info p-0 ms-2 d-flex">                                                        
                                                        <span class="pt-1">
                                                            <i class="far fa-copy"></i>
                                                        </span>
                                                        <span class="my-auto ms-1 pt-1">Medições</span>                                               
                                                    </a>
                                                </div>
                                            </div>                                                                                                    
                                        </td>                                                 
                                    </tr>                                         
                                   {% endfor %}
                                </tbody>
                            </table>
                            <div class="row px-3">
                                <div class="col px-4 py-2 d-flex bg-primary text-white">
                                    <b class="me-3">Valor total:</b> R$<span class="valor" id="total-empenhos">{{soma_empenhos}}</span> 
                                </div>
                            </div>     
                        </div>
                        <div  id="exibirNotasAqui" class="col">
                            {% if messages %} 
                            {% for message in messages %}
                            <div{% if message.tags %} class="bg-{{ message.tags }} text-white mt-5 p-4"{% endif %}>
                                {{ message }}
                            </div>
                            {% endfor %}                                                       
                            {% endif %}        
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    </div>
</div>
{% if request.user.is_authenticated %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <form method="post" class="form col">            
      <div class="modal-header">
        <h2 class="pt-4">CADASTRAR MEDIÇÃO</h2>
        <!-- <h5 class="modal-title" id="exampleModalLabel">New message</h5> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body px-5">        
        
            {% csrf_token %}
            <div id="nota_fiscal" class="mt-4">
                {% for f_nota in form %}
                {% if f_nota.label == 'Data de expedição fiscal' %}
                <label for="">{{f_nota.label}}:</label>
                {{f_nota|add_class:'form-control mb-3'|attr:'type:date'}} 
                {% elif f_nota.label == 'Período inicial da medição' %}
                <label for="">{{f_nota.label}}:</label>
                {{f_nota|add_class:'form-control mb-3'|attr:'type:date'}} 
                {% elif f_nota.label == 'Período final da medição' %}
                <label for="">{{f_nota.label}}:</label>
                {{f_nota|add_class:'form-control mb-3'|attr:'type:date'}} 
                {% elif f_nota.label == 'Empenho' %}
                <label for="">{{f_nota.label}}:</label>
                <div id="insere-empenho">
                </div>                
                {% else %}
                <label for="">{{f_nota.label}}:</label>
                {{f_nota|add_class:'form-control mb-3'|attr:'type:text'|attr:'autocomplete:off'}}            
                {% endif %}
                <div class="mb-2">
                    {{f_nota.errors}}
                </div>
                {% endfor %}                                
            </div>    
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">FECHAR</button>
        <button type="submit" class="btn btn-primary">CADASTRAR</button>
      </div>
    </form>
    </div>
  </div>
</div>
{% endif %}
<style>
    html, body{
        width: 100%;
        height: 100%;
    }
.form-control:disabled, .form-control[readonly]{               
font-weight: bold;
}
label{
font-weight: bold;
}


</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script>
    function maskValor(input){    
        $(input).mask('#.##0.000,00', {reverse: true});
    }
    function exibirNotas(filter, value){
        var url = '/get_notas/';  // get the url of the `load_cities` view        
        $.ajax({ 
            url: url,
            data: {
                'filter': filter,
                'id': value,
                'obra_id': {{obra.id}}
            },
            success: function(data) {                               
                $("#exibirNotasAqui").html(data);
                attValor()
            }
        });                
    };
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    $.ajax({ 
                            type: "GET",
                            url: '/get-empenho/',        
                            //beforeSend: function (xhr, settings) {
                                //xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                                // xhr.setRequestHeader('Content-Type', 'application/json');
                            //},

                            data: {                            
                                id: '{{obra.id}}',                                
                            },
                            success: (data) => {                               
                                document.getElementById('insere-empenho').innerHTML=data                                
                            },                        
            });
            function attValor(){

    $(document).ready(function(){
      valores=document.getElementsByClassName('valor')                
      for(i in valores){        
        $('#'+String(valores[i].id)).mask('#.##0.000,00', {reverse: true});
      }
    });
  }
  attValor()
 
          
</script>
{% endblock %}
