{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% load widget_tweaks %} 
{% block main %}
{% if success %}
<div class="row px-4 py-2">
    <div class="col bg-success d-flex">
        <p class="text-white m-auto fw-bolder py-1">{{success}}</p>
    </div>
</div>
{%endif%}
<div class="row">    
    <div class="col container p-5">
        <div class="d-flex">
            <h1 class="text-uppercase">Fiscais</h1>            
            <span class="ms-auto">
              <a class="btn btn-primary" href="{% url 'obra:cadastrar_fiscal' %}">
                <i class="fas fa-book me-2"></i>
                Cadastrar Fiscal
              </a>
            </span>
        </div>
        <div class="d-flex pt-4">
            <div class="col-9 mx-auto">
                <table class="table table-light table-striped table-hover text-center">
                    <thead>
                        <tr>
                          <th scope="col">id</th>
                          <th scope="col">Nome</th>
                          <th>Crea</th>
                          <th>Matrícula</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for fiscal in fiscais %}
                        <tr>
                          <th  scope="row">{{fiscal.id}}</th>
                          <td>{{fiscal.nome}}</td>
                          <td class="crea">{{fiscal.crea}}</td>
                          <td class="matricula">{{fiscal.matricula}}</td>
                        </tr>           
                        {% endfor %}         
                      </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>
<script>
    function icnpj(v){
        v=v.replace(/\D/g,"")                    //Remove tudo o que nao e digito
        v=v.replace(/(\d{2})(\d)/,"$1.$2")       //Coloca um ponto entre o segundo e terceiro digitos
        v=v.replace(/(\d{3})(\d)/,"$1.$2")       //Coloca um ponto entre o quinto e o sexto digitos
        v=v.replace(/(\d{3})(\d)/,"$1/$2")       //Coloca um ponto entre o quinto e o sexto digitos
        v=v.replace(/(\d{4})(\d)/,"$1-$2")       //Coloca um ponto entre o quinto e o sexto digitos
        // v=v.replace(/^(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})/, "$1.$2.$3/$4-$5")
        return v
    }
    cnpjs=document.getElementsByClassName('cnpj')
    for (i in cnpjs){
        console.log(cnpjs[i].innerText)
        cnpjs[i].innerText=icnpj(cnpjs[i].innerText)
        console.log(cnpjs[i].innerText)
    }
</script>

{% endblock %}