{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% load widget_tweaks %}  
{% block main %}

<div class="row">    
    <div class="col container p-5">
        <div class="row">
            <div class="col">
                <h1>DADOS DA OBRA</h1>
            </div>
            <div class="col d-flex" style="position: relative;">   
                {% if request.user.is_authenticated %}
                <a class="btn btn-primary ms-auto me-2 my-auto" href="{% url 'obra:gerar_qrcode' obra.id %}">
                    QR Code <i class="fas fa-qrcode ms-2"></i>
                </a>             
                <a class="btn btn-primary me-2 my-auto" href="{% url 'obra:editar_obra' obra.id %}">
                    Editar <i class="fas fa-pencil-alt ms-2"></i>
                </a>       
                <a class="btn btn-primary my-auto" href="{% url 'obra:visualizar' obra.id %}">
                    <i class="far fa-arrow-alt-circle-left me-2"></i>
                    Voltar
                </a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col pt-4" id="searchResult">   
                <div class="p-3">
                    <div class="mb-2" style="background-color: #d6e7f8;">
                        <div class="py-3 px-3">                        
                            <div class="d-flex ps-4">
                                <span class="my-auto"><b>id: </b>{{obra.id}}</span>
                                <span class="ms-auto">                                    
                                    <a href="{% url 'obra:visualizar_fotos_obra' obra.id %}" class="btn btn-outline-success me-2">Fotos</a>
                                    <a href="{% url 'obra:visualizar_notas' obra.id %}" class="btn btn-outline-success">Notas</a>                                    
                                </span>
                            </div>
                        </div>
                    </div>                
                    <table class="table table-light table-striped mt-0">                                   
                        <tbody>                        
                            <tr>                   
                                <!-- <th class="text-end">id:</th>          
                                <td>{{obra.id}}</td>   -->
                                <td colspan="2" class="px-3">
                                    <b>Empresa:</b><br>
                                    <span>{{obra.empresa.nome}}</span>
                                </td>         
                                <td colspan="2" class="">
                                    <b>Objeto da Obra:</b><br>
                                    <span>{{obra.obra.objeto_da_obra}}</span>    
                                </td>
                                <td colspan="2">
                                    <b>Valor previsto:</b><br>
                                    R$ <span id="valorp">{{obra.obra.valor_previsto}}</span>
                                </td>
                                <td colspan="2">
                                    <b>Engenheiro responsável:</b><br>
                                    <span>{{obra.obra.engenheiro}}</span>
                                </td>           
                            </tr>    
                            <tr>                   
                                <td colspan="0" class="px-3">
                                    <b>CNPJ da empresa:</b><br>                      
                                    <span id="cnpj">{{obra.empresa.cnpj}}</span>
                                </td>         
                                <td colspan="1">
                                    <b>População atendida:</b><br>
                                    <span>{{obra.obra.populacao_atendida}}</span>
                                </td>
                                <td colspan="2" class="px-3">
                                    <b>Fiscal Responsável:</b><br>                      
                                    <span>{{obra.obra.fiscal}}</span>
                                </td>
                                <td colspan="2" class="px-3">
                                    <b>Fiscal Substituto:</b><br>                      
                                    <span>{{obra.obra.fiscal_substituto}}</span>
                                </td>   
                                <td colspan="2" class="px-3 row">
                                    <b>Status:</b> <br>                     
                                    <span class='{% if obra.obra.status.nome == "Em andamento" %}bg-info{% elif obra.obra.status.nome == "Paralisada" %}bg-warning{% elif obra.obra.status.nome == "Finalizada" %}bg-success{% endif %} text-white text-center bolder p-1 w-100' >{{obra.obra.status}}</span>
                                </td>  
                                 
                            </tr>   
                            <tr>
                                <td colspan="8" class="px-3">
                                    <b>Data prevista de conclusão:</b><br>
                                    <span>{{obra.obra.data_conclusao}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="8" class="p-3">
                                    <b>Justificativa:</b>
                                    <p>
                                        {{obra.obra.justificativa}}
                                    </p>
                                </td>
                            </tr>
                            {% if request.user.is_authenticated %}
                            <tr>
                                <td colspan="2">
                                    <b class="ms-2 me-3">Nº processo administrativo:</b> <span>{{obra.obra.n_processo_adm}}</span>
                                </td>
                                <td colspan="4" >
                                    <b>Nº processo de pagamento:</b> <span class="text-capitalize ms-3">{{obra.obra.n_processo_pagamento}}</span>
                                </td>
                                <td colspan="2" ></td>
                         
                                     

                            </tr>
                            <tr>
                                <td colspan="2">
                                    <b class="ms-2">Data de Inclusão:</b> <span>{{obra.obra.dt_inclusao}}</span>
                                </td>
                                <td colspan="2" >
                                    <b>Cadastrado por:</b> <span class="text-capitalize ms-3">{{obra.obra.cadastrado_por.first_name}}</span>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>                               

                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>      
    </div>
</div>
<style>
.form-control:disabled, .form-control[readonly]{               
font-weight: bold;
}
label{
font-weight: bold;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script>
function search(input){    
getObra(input.value)
}

function getObra(value){
var url = '/get-obras/';  // get the url of the `load_cities` view        
$.ajax({ 
    url: url,
    data: {
        'nome': value,
    },
    success: function(data) {                               
        $("#searchResult").html(data);
    }
});                
};

$("#valorn").mask('#.##0.000,00', {reverse: true});
$("#valorp").mask('#.##0.000,00', {reverse: true});
$("#cnpj").mask("99.999.999/9999-99");
</script>
{% endblock %}