{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% load widget_tweaks %} 
{% block main %}
{% if success %}
<div class="row px-4 py-2">
    <div class="col bg-success d-flex">
        <p class="text-white m-auto fw-bolder py-1">{{success}}</p>
    </div>
</div>
{%endif%}
<div class="row">    
    <div class="col container p-5">
        <div class="d-flex">
            <h1 class="text-uppercase">Empresas</h1>            
            <span class="ms-auto"><a class="btn btn-primary" href="{% url 'obra:cadastrar_empresa' %}">Cadastrar Empresa</a></span>
        </div>
        <div class="d-flex pt-4">
            <div class="col-9 mx-auto">
                <table class="table table-light table-striped table-hover text-center">
                    <thead>
                        <tr>
                          <th scope="col">id</th>
                          <th scope="col">Empresa</th>
                          <th>CNPJ</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for empresa in empresas %}
                        <tr>
                          <th  scope="row">{{empresa.id}}</th>
                          <td>{{empresa.nome}}</td>
                          <td class="cnpj">{{empresa.cnpj}}</td>
                        </tr>           
                        {% endfor %}         
                      </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>
<script>
    
</script>

{% endblock %}